@model Department


<h2> Add New Depaartment </h2>

<form asp-action="Create">

    <div class="form-control">
        <label asp-for="Name" class="form-control"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-control">
        <label asp-for="MangerName" class="form-control"></label>
        <input asp-for="MangerName" class="form-control" />
        <span asp-validation-for="MangerName" class="text-danger"></span>
    </div>
    <div class="form-control">
        <label asp-for="numberOfemp" class="form-control"></label>
        <input asp-for="numberOfemp" class="form-control" />
        <span asp-validation-for="numberOfemp" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-primary" />
    | <a asp-action="Index" class="btn btn-dark"> Back to List</a>
</form>
@section validationcreate {
   
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>38sa8aq1
}
@*@section validationcreate{
<script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}*@
