@model Employee


<h2> Add New Employee </h2>

<form asp-action="Create">
    
    <div class="form-control">
        <label asp-for="Name" class="form-control"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    
    <div class="form-control">
        <label asp-for="phoncontact" class="form-control"></label>
        <input asp-for="phoncontact" class="form-control" />
        <span asp-validation-for="phoncontact" class="text-danger"></span>
    </div>
    <div class="form-control">
        <label asp-for="Datestart" class="form-control"></label>
        <input asp-for="Datestart" class="form-control" id="Datestart" />
        <span asp-validation-for="Datestart" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-primary" />
    | <a asp-action="Index" class="btn btn-dark"> Back to List</a>
</form>
@section validationcreate{
  <script>
    $(document).ready(function () {
        $('form').validate({
            rules: {
                Datestart: {
                    required: true,
                },
            },
            messages: {
                Datestart: {
                    required: "Please enter a start date",
                },
            },
        });
    });
</script>
}